<div class="container">
  <div class="left-column">
    <div class="mapWrapper" [id]="mapName"></div>
  </div>
  <div class="right-column">
    <button (click)="togglePopups()">Toggle points of interest names</button>
    <div *ngIf="selectedPoi" class="card">
      <h2>{{ selectedPoi.title }}</h2>
      <p [innerHTML]="selectedPoi.description"></p>
      <button *ngIf="selectedPoi.subMapId" [routerLink]="['/', routerRoot, selectedPoi.subMapId]">Go to the location's map</button>
    </div>
  </div>
</div>

<!--TODO bigger maps could maybe have some buttons to jump to key locations on the map, automatically changing the current view-->
