.no-characters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.no-characters-text {
  font-size: 18px;
  margin-right: 20px; /* Add some space between the text and the button */
  color: #333;
}

.create-character-button {
  display: flex;
  align-items: center;
  background-color: #007BFF; /* A shade of blue */
  color: white;
  border: 2px solid #0056b3; /* Slightly darker blue border */
  border-radius: 20px; /* More rounded edges */
  padding: 4px 16px; /* Less height */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.create-character-button:hover {
  background-color: #0056b3; /* Darker shade of blue */
}

