<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="D20 Icon"
    src="assets/icons/d20.png"
    routerLink="/"
  />
  <a class="toolbar-title" routerLink="/">TTRPG Maps</a>
  <a class="nav-link" routerLink="/sword-coast-leuven">Sword Coast Leuven</a>
  <a class="nav-link" routerLink="/bastion-antwerpen">Bastion Antwerpen</a>

  <!-- Starfinder dropdown -->
  <div class="nav-dropdown">
    <span class="nav-link nav-dropdown-trigger">🌌 Starfinder ▾</span>
    <div class="nav-dropdown-menu">
      <a class="nav-dropdown-item" routerLink="/starfinder">Overview</a>
      <a class="nav-dropdown-item" routerLink="/starfinder/enemies-aliens">👽 Enemies – Aliens</a>
      <a class="nav-dropdown-item" routerLink="/starfinder/enemies-starships">🚀 Enemies – Starships</a>
      <a class="nav-dropdown-item" routerLink="/starfinder/universal-monster-rules">📖 Universal Monster Rules</a>
    </div>
  </div>

  <div class="spacer"></div>
  <a class="nav-link shop-link" routerLink="/shop-generator">🏪 Shop Generator</a>
<!--  <button class="create-character-button" routerLink="/character-creator">-->
<!--    <img-->
<!--      class="cog-icon"-->
<!--      width="20"-->
<!--      alt="Cog Icon"-->
<!--      src="assets/icons/cog.png"-->
<!--    />-->
<!--    Create character-->
<!--  </button>-->
</div>

<div class="content" role="main">


<router-outlet></router-outlet>

</div>

