<form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" formControlName="name" type="text"/>
    <div *ngIf="characterForm.get('name')?.invalid && characterForm.touched && isFormSubmitted">
      <small class="error">Name is required.</small>
    </div>
  </div>
  <div class="form-group">
    <label for="abilityScoreMethod">Ability score generation method:</label>
    <select id="abilityScoreMethod" formControlName="abilityScoreMethod">
      <option value="POINT_BUY">Point buy</option>
    </select>
  </div>
  <button type="submit">Choose class</button>
</form>
