<app-wizard-progress-bar [currentStep]="currentStep"></app-wizard-progress-bar>

<div class="form-navigation">
    <i *ngIf="currentStep > 0" class="fas fa-arrow-left" (click)="previousStep()"></i>
    <div class="spacer"></div>
    <i *ngIf="currentStep < 6" class="fas fa-arrow-right" (click)="nextStep()"></i>
</div>

<app-start-step [characterForm]="characterForm"
                [isFormSubmitted]="isFormSubmitted"
                (formSubmitted)="handleStartFormSubmit($event)"
                *ngIf="currentStep === 0">
</app-start-step>

<app-class-step [isFormSubmitted]="isFormSubmitted"
                (formSubmitted)="handleClassChoice($event)"
                *ngIf="currentStep === 1">
</app-class-step>
